doctype html
html(lang="en")
  head
    title List documentation
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" href="style.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous")
  body
    .container
      aside.sidebar
        #menu.fixed.sidebar-follow
          ul
            each val in data
              li: a(href=`#${val.name}`)= val.name
      section.content
        each val in data
          case val.sort
            when 'function'
            when 'variable'
              .element
                div.signature(id=val.name)
                  span.name
                    a.section-anchor(href=`#${val.name}`) #
                    | #{val.name}
                  span.type= val.type
                .doc-body
                  != md(val.documentation)
                  if val.tags.example
                    pre.language-typescript
                      code
                        != highlight(val.tags.example)
            when 'class'
              .element
                .signature(id=val.name)
                  span.name
                    a.section-anchor(href=`#${val.name}`) #
                    | #{val.name}
                each p in val.properties
                  .property
                    div.signature(id=p.name)
                      span.name
                        a.section-anchor(href=`#${p.name}`) #
                        | #{p.name}
                      span.type= p.type
                      p
                        != md(val.documentation)
