doctype html
html(lang="en")
  head
    title List documentation
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" href="style.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous")
  body
    .container
      aside.sidebar
        #menu.fixed.sidebar-follow
          ul
          each val in data
            li: a(href=`#${val.name}`)= val.name
      section.content
        each val in data
          case val.sort
            when 'function'
              .fn
                div.signature(id=val.name)
                  span.name
                    a.section-anchor(href=`#${val.name}`) #
                    | #{val.name}
                  span.type= val.type
                p
                  != md(val.documentation)
                if val.tags.example
                  != highlight(val.tags.example)
            when 'class'
              .fn
                .signature(id=val.name)
                  span.name
                    a.section-anchor(href=`#${val.name}`) #
                    | #{val.name}
